<h3>PATHS</h3>
<% path = @unicorn.paths.first %>
<p><%= @unicorn.all_path_ids %></p>
<p><%= path['id'] %></p>
<p>Donkye<%= path['style']%></p>
<p><%= @unicorn.first_paths_style_split_up %></p>
<p><%= path['d'].split%></p>
