<p>YOU'RE a silly unicorn!</p>
<!-- Styleguide -->

<p><%=@doodlebug%></p>
<p><%=@rects%></p>
<p><%=@magic%></p>
<p>Achoo!<%=@sneeze%></p>

<% @magic.each do |path| %>
  <p><%= path %></p>
<% end %>

<% @magic.each do |path| %>
  <p><%= path['id'] %></p>
<% end %>

<% @magic.each do |path| %>
<p>Donkye<%= path['style']%></p>
<% end %>

<% @magic.each do |path| %>
<p><%= path['style'].split(';')%></p>
<% end %>

<% @magic.each do |path| %>
<p><%= path['d'].split%></p>
<% end %>
