<p><%= @svg_parser.all_path_ids %></p>
<p><%= @svg_parser.all_unique_image_ids %></p>
<p>FIRST PATHS<%= @svg_parser.paths %>FIRST PATHS</p>
<p><%= @svg_parser.replace_fabric_urls("4321", "http://www.mycooldesign.amazonserver.com") %></p>
<p>CHANGED PATHS<%= @svg_parser.paths %>CHANGED PATHS</p>
