<h3>FUN WITH PATHS</h3>
<% path = @svg_parser.paths.first %>
<p><%= path %></p>

<p><%= path['id'] %></p>
<p><%= path['style']%></p>
<p><%= @svg_parser.all_path_ids %></p>
<p><%= @svg_parser.first_paths_style_split_up %></p>
<p><%= path['d'].split%></p>
