<p><%= @svg_parser.all_path_ids %></p><br>
<p><%= @svg_parser.all_unique_image_ids %></p><br>
<p><%= @svg_parser.all_paths_coords_split %></p><br>
<p><%= @svg_parser.all_paths_coord_pairs %></p><br>


<p>NSA TOTAL AREA <%= @svg_parser.total_area(@svg_parser.surface_area_by_design_id_with_seam_allowance(0)) %></p><br>

<p>ARRAY FOR SEAM ALLOWANCE <%= @svg_parser.surface_area_by_design_id_with_seam_allowance(0.25).values %></p><br>

<p>NSA <%= @svg_parser.surface_area_by_design_id_with_seam_allowance(0) %></p><br>

<p>QUARTER INCH <%= @svg_parser.surface_area_by_design_id_with_seam_allowance(0.25) %></p><br>

<p>FIRST PATHS<% @svg_parser.paths.each do |p| %></p><br>
  <p><%= p %></p></br>
<% end %>


<p><%= @svg_parser.replace_fabric_urls("replaceme1", "www.sweetfabric.com") %></p><br>
