<p><%= @svg_parser.all_path_ids %></p><br>
<p><%= @svg_parser.all_unique_image_ids %></p><br>
<p><%= @svg_parser.all_paths_coords_split %></p><br>
<p><%= @svg_parser.all_paths_coord_pairs %></p><br>

<p>POTATO<%= @svg_parser.paths.last %></p><br>

<p>NSA <%= @svg_parser.surface_area_by_design_id_with_seam_allowance(0) %></p><br>

<p>FIRST PATHS<% @svg_parser.paths.each do |p| %></p><br>
  <p><%= p %></p></br>
<% end %>
