<div class="progress-bar">
 <span class="<%= 'selected' if page == 1 %> progress-stage">Choose Project</span>
 <span class="<%= 'selected' if page == 2 %> progress-stage">Choose Block</span>
 <span class="<%= 'selected' if page == 3 %> progress-stage">Design Block</span>
 <span class="<%= 'selected' if page == 4 %> progress-stage">Preview Project</span>
 <span class="<%= 'selected' if page == 5 %> progress-stage">Next Steps</span>
</div>
