<%= render :partial => 'shared/progress', :locals => {:page => 3} %>

<div class="edit-view">
  <h1>Edit Your Block</h1>

  <div class="edit-block">
    <%= form_for(@quilt) do |f|  %>

    <% if @quilt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quilt.errors.count, "error") %> prohibited this quilt from being saved:</h2>

      <ul>
        <% @quilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="svg-editor">
      <%= @starting_svg.html_safe %>
    </div>

    <div>
      <%= f.hidden_field :project_template_id, :value => params[:project_id] %>
    </div>

    <div>
      <%= f.hidden_field :svg, :value => @starting_svg, class:"svg-input" %>
    </div>
    <div >
      <%= f.submit "Save Project" %>
    </div>
    <% end %>

  </div>

  <div class="choose-palette">
    <ul class="palette">
    </ul>
    <button class="open-fabric-modal">Add fabrics</button>
  </div>

  <div class="choose-set">
    <ul class="sets">
      <li class="set">
      </li>
      <li class="set">
      </li>
      <li class="set">
      </li>
    </ul>
  </div>

  <div class="fabric-modal">
    <div class="fabric-modal-box">
      <span class="close-fabric-modal"></span>
      <div class="fabric-modal-preview">
      </div>
      <div class="fabric-modal-options">
        <input class="fabric-modal-search">
        <span class="search-icon"></span>
        <ul class="fabric-modal-list">
        </ul>
      </div>
    </div>
  </div>


</div>
