<div class="edit-view"
  <h1>Edit Your Block</h1>
  <%= form_for(@quilt) do |f| %>
  <% if @quilt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quilt.errors.count, "error") %> prohibited this quilt from being saved:</h2>

    <ul>
      <% @quilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <%= f.label :svg %><br>
    <%= f.text_area :svg %>
  </div>
  <div >
    <%= f.submit "Save Project" %>
  </div>
  <% end %>

</div>
