<%= render :partial => 'shared/progress', :locals => {:page => 3} %>

<!-- Edit Block Section -->
<div class="edit-view view-container">
  <div class="edit-block">
    <%= form_for(@quilt) do |f|  %>

    <% if @quilt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quilt.errors.count, "error") %> prohibited this quilt from being saved:</h2>

      <ul>
        <% @quilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="svg-editor-parent">
      <div class="svg-editor">
        <%= @starting_svg.html_safe %>
      </div>
      <button alt="Clear all patches" class="clear-patches-btn icon-button">
        <i class="fa fa-minus-circle inner-button-icon"></i>
      </button>
      <div class="clear-patches-modal">
        <span class="modal-confirm">Clear all patches?</span>
        <div class="modal-options">
          <span class="clear-patches-modal-close">No</span>
          <span class="clear-patches-modal-confirm">Yes</span>
        </div>
      </div>
    </div>

    <div>
      <%= f.hidden_field :project_template_id, :value => params[:project_id] %>
    </div>

    <div>
      <%= f.hidden_field :svg, :value => @starting_svg, class:"svg-input" %>
    </div>

    <div >
      <%= f.submit "Preview Quilt", class:"save-project-btn stitch-btn", alt:"Preview quilt" %>
    </div>

    <% end %>

    <div class="choose-set">
      <ul class="sets">
      </ul>
    </div>

  </div>

  <!-- Palette Section -->

  <div class="choose-palette">
    <div class="add-fabric-message">
      <p>You don't have any fabrics in your palette. Click the + button to gather awesome Spoonflower designs for your quilt.</p>
    </div>
    <ul class="palette">
    </ul>
  <button alt="Add fabrics" class="open-fabric-modal-btn icon-button">
    <i class="fa fa-plus-circle inner-button-icon"></i>
  </button>
  </div>
</div>

<!-- Fabric Modal -->

<div class="fabric-modal">
  <div class="fabric-modal-box paper-border">
    <div class="fabric-modal-content">
      <button alt="Close window" class="close-fabric-modal-btn icon-button"><i class="fa fa-times-circle inner-button-icon"></i></button>

      <div class="fabric-modal-preview">
        <div class="current-block">
        </div>
        <ul class="current-palette">
        </ul>
      </div>

    <hr class="fabric-modal-divider">

    <div class="fabric-modal-options">
      <%= image_tag "spoonflower_logo.png", alt:"Find Spoonflower Fabrics", class:"fabric-options-logo" %>
      <form class="search-bar keyword-search" method="GET" action="/">
        <span class="search-title">Seach by keyword</span>
        <input type="search" placeholder="ex: 'goats'" />
        <button type="submit" class="fabric-modal-keyword-btn">
          <i class="fa fa-search" alt="Search Icon"></i>
        </button>
      </form>
      <form class="search-bar color-search">
        <div class="input-group color-search-bar">
          <span class="search-title">Search by color</span>
          <input type="text" id="picker"></input>
          <button type="submit" class="fabric-modal-color-btn">
            <i class="fa fa-search" alt="Search Icon"></i>
          </button>
        </div>
      </form>
    </div>

      <div class="fabric-modal-results">
        <ul class="fabric-modal-list"></ul>
      </div>
    </div>
  </div>
</div>
