<%= render :partial => 'shared/progress', :locals => {:page => 5} %>

<div class="next-steps-view view-container">

  <div class="final-block">

  <h2 class="your-quilt-name"><%= @quilt.name %></h2>

  <%= @quilt.svg.html_safe %>

  </div>

  <div class="next-steps">

    <ol class="next-steps-list">
      <li class="next-step">
        <div class="icon-holder">
          <i class="fa fa-cloud-download next-step-icon"></i>
        </div>
        Download your design:&nbsp;&nbsp;
        <%= link_to "Download Here", {:action => "download_quilt", :quilt_id => params[:quilt_id]}, class:"stitch-btn download-btn" %>
      </li>

      <li class="next-step">
      <div class="icon-holder">
          <i class="fa fa-cloud-upload next-step-icon"></i>
      </div>
        Upload the design at <a class="spoonflower-link" href="http://www.spoonflower.com/welcome">spoonflower.com</a>
      </li>

      <li class="next-step">
        <div class="icon-holder">
          <i class="fa fa-shopping-cart next-step-icon"></i>
        </div>
        Submit and pay for your order
      </li>

      <li class="next-step">
        <i class="fa fa-truck next-step-icon"></i>
        When your package arrives, open and whip up your custom quilt masterpiece!
      </li>
    </ol>

  </div>


</div>

  <h1 class="happy-quilting">Happy Quilting!</h1>

<!-- ---- THIS IS CHRISTEN'S API DEBUG NONSENSE ---- -->
<%# FIXME: this if statement is a hack to avoid the pain of ERB commenting %>
<% if false %>
<% Fabric.get_spoonflower_images( "goat" ).each do |hash| %>
  <p>Image ID:<%= hash[:id] %><p>
  <%= image_tag hash[:thumbnail] %>
  <br>
<% end %>
<% end %>


<%# FIXME: this if statement is a hack to avoid the pain of ERB commenting %>
<% if false %>
<% Fabric.get_spoonflower_fabrics_by_color( "FF0000" ).each do |hash| %>
  <p>Image ID:<%= hash[:id] %><p>
  <%= image_tag hash[:thumbnail] %>
  <br>
<% end %>
<% end %>
<!-- ---- END OF CHRISTEN'S API DEBUG NONSENSE ---- -->
