<%= render :partial => 'shared/progress', :locals => {:page => 5} %>

<div class="next-steps-view view-container">

  <div class="next-steps">

    <ol class="next-steps-list">
      <li class="next-step">
        <i class="fa fa-cloud-download next-step-icon"></i>
        Download your design–
      </li>

      <li class="next-step">
        <i class="fa fa-cloud-upload next-step-icon"></i>
        Upload to the design at <a href="http://www.spoonflower.com/welcome">spoonflower.com</a>
      </li>

      <li class="next-step">
        <i class="fa fa-shopping-cart next-step-icon"></i>
        Submit and pay for your order
      </li>

      <li class="next-step">
        <i class="fa fa-truck next-step-icon"></i>
        When your package arrives, open and whip up your custom quilt masterpiece!
      </li>
    </ol>

  </div>

  <div class="final-block">

  <%= @quilt.svg.html_safe %>

  </div>

</div>


<!-- ---- THIS IS CHRISTEN'S API DEBUG NONSENSE ---- -->
<%# FIXME: this if statement is a hack to avoid the pain of ERB commenting %>
<% if false %>
<% Fabric.get_spoonflower_images( "goat" ).each do |hash| %>
  <p>Image ID:<%= hash[:id] %><p>
  <%= image_tag hash[:thumbnail] %>
  <br>
<% end %>
<% end %>


<%# FIXME: this if statement is a hack to avoid the pain of ERB commenting %>
<% if true %>
<% Fabric.get_spoonflower_fabrics_by_color( "FF0000" ).each do |hash| %>
  <p>Image ID:<%= hash[:id] %><p>
  <%= image_tag hash[:thumbnail] %>
  <br>
<% end %>
<% end %>
<!-- ---- END OF CHRISTEN'S API DEBUG NONSENSE ---- -->
