<%= render :partial => 'shared/progress', :locals => {:page => 4} %>

<div class="preview-view view-container">

  <%= form_for @quilt, :url => { :action => "next_steps"} do |f| %>

  <% if @quilt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quilt.errors.count, "error") %> prohibited this quilt from being saved:</h2>

      <ul>
        <% @quilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>



  <div class="preview-info">

    <h2 class="my-new-quilt">Your Masterpiece</h2>
    <div class= "quilt-name-container preview-label">
      <i class="preview-icon fa fa-pencil"></i>
    <form>
      <%= f.label :name  %>:<%= f.text_field :name, class: "quilt-name" %>
    </form>
    </div>

    <%= hidden_field_tag :quilt_id, params[:quilt_id] %>
    <%# TODO: Make seam_allowance editable by user %>
    <%= f.hidden_field :seam_allowance, :value => 0.25 %>
    <div class="share-quilt-container preview-label">
      <i class="preview-icon fa fa-share"></i>
      <%= f.label "Check here to make your quilt public"
       %> <label class="label-switch">
        <%= f.check_box :public, class: "public-checkbox"%>
        <div class ="checkbox"></div>
      </label>
    </div>


    <div class= "awesome-submit-container">
      <%= f.submit 'Awesome! I Approve.', class:"awesome-submit stitch-button" %>
    </div>

  </div>



  <div class="preview-svg no-click">
    <%= @quilt.svg.html_safe %>
  </div>
  <% end %>






</div>
