<%= render :partial => 'shared/progress', :locals => {:page => 4} %>
<div class="preview-view view-container">

  <%= form_for @quilt, :url => { :action => "next_steps", :project_id => @quilt.project_template_id} do |f| %>

  <% if @quilt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quilt.errors.count, "error") %> prohibited this quilt from being saved:</h2>

      <ul>
        <% @quilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>



  <div class="preview-info">

    <div class= "quilt-name-container preview-label">
    <form>
      <%= f.label :quilt_name, class:"quilt-name-label"  %>
      <%= f.text_field :name, class: "quilt-name", required: "required", placeholder:"ex: My Masterpiece", maxlength:"40" %>
      <!-- make field required- required:"required" -->
    </form>
    </div>

    <%= hidden_field_tag :quilt_id, params[:quilt_id] %>
    <%# TODO: Make seam_allowance editable by user %>
    <%= f.hidden_field :seam_allowance, :value => 0.25 %>
    <div class="share-quilt-container preview-label">
      <%= f.label "Set your quilt for public use?", class:"share-quilt-label" %>
      <label class="label-switch">
        <%= f.check_box :public, class: "public-checkbox"%>
        <div class ="checkbox"></div>
      </label>
    </div>


    <div class= "awesome-submit-container">
      <%= f.submit 'Awesome! Save Quilt', class:"awesome-submit stitch-button" %>
    </div>

  </div>



  <div class="preview-svg">

    <div class="current-preview no-click">
      <div class="preview-block big-preview">
        <%= @quilt.svg.html_safe %>
      </div>

      <div class="preview-project big-preview">
        <%= ProjectTemplate.getXML_for_filename( @project.project_layout_svg ).html_safe %>
      </div>
      <a class="test-img"></a>

    </div>

    <div class="choose-preview-thumbnail">
      <ul class="preview-thumbnails">
        <li class="preview-thumbnail paper-border">
          <%= @quilt.svg.html_safe %>
        </li>
        <li class="preview-thumbnail paper-border">
          <%= ProjectTemplate.getXML_for_filename( @project.project_layout_svg ).html_safe %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>



</div>
<!-- this is where your raster image lives -->
<%#= image_tag "preview_thumbnails/img_#{params[:quilt_id]}.png"%>
