<div class="welcome-view width-welcome">

  <div class="hero">
  	<div class="hero-inner">
      <%= image_tag "flowerpatch_logo.svg", class:"hero-logo" %>
  			<div class ="title">
          <span class="flowerpatch-logo-text">
            Welcome to  <span class="flower-text">flower</span><span class="patch-text">patch</span>
          </span>
        </div>

        <div class="hero-copy">
  			  <p>Where you can create your own quilt with the Spoonflower fabrics you love</p>
  	    </div>
      <div class="stitch-btn"><%= link_to 'Start New Project', project_templates_choose_project_path %></div>
  	</div>
  </div>

  <h2 class="featured-designs">Featured Designs</h2>
  <div class="cards">
    <!-- CHRISTEN: limit to three -->

    <% @quilts.each do |quilt| %>
    <% if quilt.public %>
    <div class="card paper-border">
      <div class="card-image">
        <!--CHRISTEN: insert svgs in image_tag -->
        <a href = "/project_templates/choose_project?quilt_id=<%=quilt.id%>"><%= image_tag "#{quilt.preview_thumb_url}"%></img></a>
      </div>
      <div class="card-header">
        <p class="card-title"><%= link_to quilt.name, project_templates_choose_project_path(quilt_id: quilt.id) %></p>
      </div>
      <!-- <div class="card-copy"></div> -->
    </div>
    <% end %>
    <% end %>
  </div>


</div>
