<%= render :partial => 'shared/progress', :locals => {:page => 1} %>

<div class="project-view view-container">

 <div class="project-list-container">
   <ul class="project-list">
     <% @projects.each do |project| %>
     <li class="project-list-item"><%= project.name %></li>
     <% end %>
   </ul>
 </div>

 <div class="project-cards">
   <% @projects.each do |project| %>
   <div id="<%= project.id %>" class="project-card paper-border <%= project.id %>">
     <div class="project-card-img-container">
       <!-- CHRISTEN: insert images of project type here -->
       <%= image_tag "#{project.example_thumb_url}", class:"project-card-img"%>
     </div>
     <div class="project-card-content">
       <h2><%= link_to project.name, quilts_choose_block_path(quilt_id: params[:quilt_id], project_id: project.id) %></h2>

       <p class="project-card-copy"><%= project.description %> Retro viral High Life flexitarian, crucifix gastropub quinoa Marfa brunch PBR&B.</p>
       <p class="project-card-copy"><%= project.directions_pdf_url %></p>

       <!-- <button alt="Get started with a <%= project.name %>" class="stitch-btn get-started-btn"><%= link_to "Get started", quilts_choose_block_path(quilt_id: params[:quilt_id], project_id: project.id) %></button> -->
       <%= link_to "Get started", quilts_choose_block_path(quilt_id: params[:quilt_id], project_id: project.id), alt:"Get started with a project.name", class:"stitch-btn" %>
     </div>
   </div>
   <% end %>
 </div>

</div>
