<%= render :partial => 'shared/progress', :locals => {:page => 1} %>

<div class="project-view">


  <h1>Choose a Project</h1>

  <% @projects.each do |project| %>
  <div class="card">
    <%= image_tag "#{project.example_thumb_url}"%>
    <!-- button equivalent -->
    <h3><%= link_to project.name, quilts_choose_block_path(quilt_id: params[:quilt_id], project_id: project.id) %></h3>

    <p class="card-body-copy"><%= project.description %></p>
    <p class="card-body-copy"><%= project.directions_pdf_url %></p>
  </div>
  <% end %>

</div>
