<!DOCTYPE html>
<!-- app wide stuff nav-bar, etc, functional links -->
<html>
<head>
  <title>Flowerpatch</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400|Kreon:300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag '/flowerpatch_favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
  <header class="site-nav">
    <i class="fa fa-certificate logo-icon"></i>
    <h1 class="logo-text"> FlowerPatch</h1>
  </header>
  
=======
    <header class="site-nav">
      <div class="flowerpatch-logo-section">
        <a href="/">
          <%= image_tag "flowerpatch_logo.svg", class:"flowerpatch-logo" %>
        <span class="flowerpatch-logo-text">
          <span class="flower-text">flower</span
          ><span class="patch-text">patch</span>
        </span>
        </a>
      </div>
    </header>

>>>>>>> ac2de765e3d79405c388ddd8254a4ebfbcf5b6b5
    <main class="app-content paper-border">

      <!-- yield is the root-content equivalent, all views populate here -->
      <%= yield %>

    </main>

    <footer>
      <div class="spoonflower-section">
        <span class="spoonflower-tag">
        in partnership with</span>
        <a href="www.spoonflower.com/welcome">
          <%= image_tag "spoonflower_logo.png" %>
        </a>
      </div>
    </footer>

</body>
</html>
