<!DOCTYPE html>
<!-- app wide stuff nav-bar, etc, functional links -->
<html>
<head>
  <title>Flowerpatch</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Kreon:300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag '/flowerpatch_favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header class="site-nav">
      <div class="overlay">
      </div>
      <div class="flowerpatch-logo-section">
        <a href="/">
          <%= image_tag "flowerpatch_logo.svg", class:"flowerpatch-logo" %>
        <span class="flowerpatch-logo-text">
          <span class="flower-text">flower</span
          ><span class="patch-text">patch</span>
        </span>
        </a>
      </div>

    </header>

    <main class="app-content paper-border">

      <!-- yield is the root-content equivalent, all views populate here -->
      <%= yield %>

    </main>

    <footer>
      <div class="footer-overlay">
      </div>
      <div class="legal-section">
        <a href="http://github.com/flower-patch/potential-tribble">
          <span class="license-tag">
            <i class="fa fa-cc"></i>
            &nbsp;2015&nbsp;
          </span>
          <span class="flowerpatch-logo-text">
            <span class="flower-text">flower</span
            ><span class="patch-text">patch</span>
          </span>
          &nbsp;
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="spoonflower-section">
        <span class="spoonflower-tag">
        in partnership with</span>
        <a href="http://www.spoonflower.com/welcome">
          <%= image_tag "spoonflower_logo.png" %>
        </a>
      </div>
    </footer>

</body>
</html>
